[user]
	name = David Natachanny
	email = David.Natachanny@elastic.co
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	templatedir = ~/.git_template

[diff]
    guitool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
